/* static/css/style.css */
body{
    color: darkgreen;
}
h1 {
    color: darkslategray;
}
.title{
    color: cornflowerblue;
}

p{
    color: aqua;
}
hr{
    color: darkgreen;
    size: A4;
    width: 10;
}

button{
    size: A3;
}
input{
    color: darkgreen;
}