/* static css/style.css */
body{
    color: darkgreen;
}
h1 {
    color: darkslategray;
}
.title{
    color: cornflowerblue;
}

p{
    color: cornflowerblue;
}
hr{
    color: darkgreen;
}

button{
    size: A3;
}
input{
    color: darkgreen;
}